a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_cc5f763 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFFFFF;  }
#button_cc5f763:hover { background-color:#C0C0C0;  }
#button_cc5f763:hover span { color:#525252; }
#button_170e061d { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFFFFF;  }
#button_170e061d:hover { background-color:#C0C0C0;  }
#button_170e061d:hover span { color:#525252; }
#button_215c62b9 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFFFFF;  }
#button_215c62b9:hover { background-color:#C0C0C0;  }
#button_215c62b9:hover span { color:#525252; }
#table_182db28 th {  } 
#table_182db28 td {  } 
#table_30349247 th {  } 
#table_30349247 td {  } 
#table_373db2b9 th {  } 
#table_373db2b9 td {  } 
body { background-color:#242424; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_26c17737 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:260px; max-width:1200px; background-color:#242342; background-image: url(rc_images/20230201_214008_copy_1200x302.jpg); background-position:top center; background-size:cover;  }
#container_26c17737_padding { margin: 20px; display: block;  }
.textstyle2 { text-align:justify; }
.textstyle3 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_731bdc21 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle4 { text-align:left; }
#container_68f535dd { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:30px; background-color:#F6F4F1;  }
#container_68f535dd_padding { margin: 20px 10px 20px 10px;display: block;  }
.textstyle5 { font-size:32pt; font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; color:#A47223; font-weight:bold; line-height: 1.5;  }
.textstyle6 { font-size:40pt; font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; color:#A47223; font-weight:bold; line-height: 1.5;  }
.textstyle7 { font-size:18pt; font-family:'MS Sans Serif', Geneva, sans-serif; color:#A47223; font-weight:bold; line-height: 1.5;  }
.textstyle8 { font-size:16pt; font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; color:#A47223; font-weight:bold; line-height: 1.5;  }
.textstyle9 { font-size:20pt; font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; color:#A47223; font-weight:bold; line-height: 1.5;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_1f26a827 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; max-width:1200px; background-color:#FFFFFF; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #A47223;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle11 { font-size:12pt; font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif; color:#000000;  }
#container_f03fcce { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#F6F4F1;  }
#container_f03fcce_padding { margin: 20px; display: block;  }
.textstyle12 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
.textstyle13 { font-size:14pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; font-weight:bold;  }
#container_4df4f27 { vertical-align: top; position:relative; display: inline-block; width:88%; min-height:422px; background:none;  }
#container_4df4f27_padding { margin: 10px; display: block;  }
#container_77b764d8 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_77b764d8_padding { margin: 10px 20px 10px 10px;display: block;  }
#img_7e5cdcd { vertical-align: bottom; position:relative; display: inline-block; width:94%; background:none; height:auto;  }
#container_5c1636c2 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_5c1636c2_padding { margin: 10px 10px 10px 20px;display: block;  }
#table_182db28 { vertical-align: bottom; position:relative; display: inline-table; width:94%; height:288px; background:none; table-layout: fixed;  }
#cell_33fd6500 {  }
#cell_37bc641c {  }
.textstyle14 { text-align:right; }
#cell_23c81236 {  }
#cell_da1c9ae {  }
#cell_6627fe3f {  }
#cell_39841321 {  }
#cell_4dbd81c7 {  }
#cell_36cb1c14 {  }
#cell_22ca3bc8 {  }
#cell_3fe39059 {  }
#cell_1fb547d3 {  }
#cell_532f273a {  }
#cell_1364a63e {  }
#cell_36ae1954 {  }
#cell_5af4cc17 {  }
#cell_9dfc44a {  }
.textstyle15 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000; font-style:italic;  }
#container_33791ead { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#F6F4F1;  }
#container_33791ead_padding { margin: 20px; display: block;  }
.textstyle16 { font-size:12pt; font-family:Baskerville, 'Baskerville Old Face', Garamond, 'Times New Roman', serif; color:#000000;  }
#container_77d31aa8 { vertical-align: top; position:relative; display: inline-block; width:88%; min-height:422px; background:none;  }
#container_77d31aa8_padding { margin: 10px; display: block;  }
#container_39d385 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_39d385_padding { margin: 10px 10px 10px 20px;display: block;  }
#table_30349247 { vertical-align: bottom; position:relative; display: inline-table; width:94%; height:288px; background:none; table-layout: fixed;  }
#cell_649d76a8 {  }
#cell_2200557f {  }
#cell_388dafed {  }
#cell_ee7e9f1 {  }
#cell_39cca7a0 {  }
#cell_5939e075 {  }
#cell_63d1f9fa {  }
#cell_36419ac0 {  }
#cell_75c970f0 {  }
#cell_612518cb {  }
#cell_6d93c4bf {  }
#cell_168929e3 {  }
#cell_75a780d4 {  }
#cell_5a9f886d {  }
#cell_7b6b87c8 {  }
#cell_a2ea536 {  }
#container_424bac86 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_424bac86_padding { margin: 10px 20px 10px 10px;display: block;  }
#table_373db2b9 { vertical-align: bottom; position:relative; display: inline-table; width:94%; height:288px; background:none; table-layout: fixed;  }
#cell_3b5f3f25 {  }
#cell_6c4cca11 {  }
#cell_58e5cd38 {  }
#cell_594183a4 {  }
#cell_19d28473 {  }
#cell_3e86ccdb {  }
#cell_7a06fb91 {  }
#cell_3cd59a72 {  }
#cell_65bb95e9 {  }
#cell_9a7b9c9 {  }
#cell_541cc4d {  }
#cell_1905419d {  }
#cell_e1040de {  }
#cell_11b0438c {  }
#cell_4cea8074 {  }
#cell_2804dca1 {  }
#container_2bcc7d6a { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_2bcc7d6a_padding { margin: 10px; display: block;  }
#button_7483db53 { vertical-align: bottom; position:relative; display: inline-block; width:189px; height:30px; box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.588235); font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6a636fcf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background-color:#000000;  }
#container_6a636fcf_padding { margin: 20px; display: block;  }
#container_70481903 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_70481903_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:14pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle18 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
#container_cab829f { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_cab829f_padding { margin: 10px; display: block;  }
.textstyle19 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_a4f8e45 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_a4f8e45_padding { margin: 10px; display: block;  }
#container_7b52e3f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_7b52e3f5_padding { margin: 10px; display: block;  }
#text_34477081 { position:absolute; left:39%; top:29%; width:266px; height:36px; background:none;  }
@media only screen and (max-width: 800px)
{
		#container_77b764d8 { width:100%;  }
		#container_5c1636c2 { width:100%;  }
		#container_39d385 { width:100%;  }
		#container_424bac86 { width:100%;  }
}
@media only screen and (max-width: 450px)
{
		#container_70481903 { width:100%;  }
		#container_cab829f { width:100%;  }
		#container_a4f8e45 { width:100%;  }
}
